<!DOCTYPE html>
<html style="margin: 0; padding: 0px;">
  <head> </head>
  <body bgcolor="#ffffff" style="padding: 0px; margin: 0px;">
    Hi, Lets Get back to your account
    <div>
      <p>
        <a href="<%= resetLink %>">Reset Password</a>
      </p>
      <p>
        If you didn't make this request contact us.
      </p>
    </div>
  </body>
</html>
